# Porta do serviço no host (sua máquina)
HOST_PORT=

# Porta interna do Spring Boot no container
SERVER_PORT=

# URL de conexão com o banco de dados
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/your_database

# Usuário do banco de dados
SPRING_DATASOURCE_USERNAME=

# Senha do banco de dados
SPRING_DATASOURCE_PASSWORD=

# Estratégia do Hibernate (update, create, validate, none)
SPRING_JPA_HIBERNATE_DDL_AUTO=